---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: flink-usrlib
  namespace: cohort
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: standard
